body {
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-position: left center;
  background-attachment: fixed;
  color: #fff;
}
.card,
.table {
  background-color: rgba(77, 1, 1, 0.5);
  color: #fff;
}
a:hover {
  cursor: pointer;
}
a:link,
a:visited {
  color: #fff;
  text-decoration: none;
}
