body {
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-position: left center;
  background-attachment: fixed;
  color: #fff;
}
.card,
.table,
header,
footer,
form {
  background-color: rgba(77, 1, 1, 0.5);
  color: #fff;
  padding: 20px;
}
a:hover {
  cursor: pointer;
  color: rgb(0, 238, 255) !important;
}
a:link,
a:visited {
  color: #fff;
  text-decoration: none;
}
button a:hover {
  cursor: pointer;
  color: white !important;
}
td form {
  padding: 0px;
}
.no-data,
.header-title {
  background-color: rgba(77, 1, 1, 0.5);
  color: #fff;
  padding: 20px;
}
.no-data {
  background-color: rgba(77, 1, 1, 0.5);
  color: #fff;
  padding: 20px;
}
